<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Predicciones</title>
</head>
<body>
    <div class="grupos">
        <img src="../static/img/banner.png" width="100%">
    </div>
    <nav class="cajaNav">
        <div class="titNav">
        <div class="logo h3" ><b>{{usuario_ingreso.nombre}}</b></div>
        <div class="toggle fa fa-bars" onclick="alternar('menu')"></div>
        </div>
        <ul class="barNav cerrado" id="menu">
            <a class="nav-link" href="/dashboard" style="margin: 10px;">Inicio</a>
            <a class="nav-link"  href="/predicciones" style="margin: 10px;">Predicciones</a>
            <a class="nav-link" href="/calendario" style="margin: 10px;">Historia</a>
            <a class="nav-link" href="/reglamento" style="margin: 10px;">Reglamento</a>
            <a href="/logout" class="dropdown-item" style="margin: 10px;"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
        </ul>
    </nav>

    <div class="col-3 mx-auto">
        <table class="table table-hover">    
            <thead>
                <h3 class="text-center">CARTILLAS</h3>
            </thead>
            <tbody  class="text-center">
                {% for result in pronostico_usuario %}
                    {% if session['user_id'] == result.usuarios_id_usuario %}
                        <tr><th style="background-color: rgb(206, 238, 28)">PUNTAJE: </th></tr>
                        <tr><td>{{result.puntos}}</td></tr>
                        <tr><th>OCTAVOS: </th></tr>
                        <tr><td>{{result.a1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.b2}}</td></tr>
                        <tr><td>{{result.c1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.d2}}</td></tr>
                        <tr><td>{{result.e1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.f2}}</td></tr>
                        <tr><td>{{result.g1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.h2}}</td></tr>
                        <tr><td>{{result.a2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.b1}}</td></tr>
                        <tr><td>{{result.c2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.d1}}</td></tr>
                        <tr><td>{{result.e2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.f1}}</td></tr>
                        <tr><td>{{result.g2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.h1}}</td></tr>
                        <tr><th>CUARTOS: </th></tr>
                        <tr><td>{{result.a1b2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.c1d2}}</td></tr>
                        <tr><td>{{result.e1f2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.g1h2}}</td></tr>
                        <tr><td>{{result.a2b1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.c2d1}}</td></tr>
                        <tr><td>{{result.e2f1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.g2h1}}</td></tr>
                        <tr><th>SEMIS:</th></tr>
                        <tr><td>{{result.o1o2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.o3o4}}</td></tr>
                        <tr><td>{{result.o5o6}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.o7o8}}</td></tr>
                        <tr><th>CAMPEON: </th></tr>
                        <tr><td>{{result.final}}</td></tr>
                        <tr><th>VICECAMPEON: </th></tr>
                        <tr><td>{{result.segundo}}</td></tr>
                        <tr><th>TERCERO: </th></tr>
                        <tr><td>{{result.ps1ps2}}</td></tr>
                        <tr><th>CUARTO: </th></tr>
                        <tr><td>{{result.cuarto}}</td></tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="continer-fluid">
        <hr class="my-4">

    <footer class="bg-light text-center text-white">
        <div class="container p-4 pb-0">
            <!-- Seccion: Social media -->
            <section class="mb-4">
            <a
                class="btn btn-primary btn-floating m-1 rounded-circle"
                style="background-color: #3b5998;"
                href="https://www.facebook.com/profile.php?id=100087212062746"
                target="_blank"
                role="button">
                <i class="fab fa-facebook"></i>
            </a>

            <a
                class="btn btn-primary btn-floating m-1 rounded-circle"
                style="background-color: #55acee;"
                href="https://twitter.com/better_gol?s=11&t=IYO2lTZlsgGQpeSYVzQQGw"
                target="_blank"
                role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <a
                class="btn btn-primary btn-floating m-1 rounded-circle"
                style="background-color: #ac2bac;"
                href="https://instagram.com/better_gol?igshid=YmMyMTA2M2Y="
                target="_blank"
                role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <a
            class="btn btn-primary btn-floating m-1 rounded-circle"
            style="background-color: rgb(0, 0, 0);"
            href="https://www.tiktok.com/@better_gol?_t=8X3uB1D7WQ1&_r=1"
            target="_blank"
            role="button"
            ><i class="fab fa-tiktok"></i></i
            ></a>

            
            <a
                class="btn btn-primary btn-floating m-1 rounded-circle"
                style="background-color: rgb(56, 167, 56);"
                href="https://wa.me/message/JGXKEZXIQZHED1"
                target="_blank"
                role="button"
                ><i class="fab fa-whatsapp"></i
                ></a>
            </section>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 
            <span class="text-white">www.bettergol.com</span>
        </div>
        </footer>

    </div>
</body>
</html>