<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/omc.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Recuperar contraseña</title>

    <script>
        function validarCambio() {

            if (document.forms["cambioclave"]["nuevo_psw"].value != document.forms["cambioclave"]["conf_nuevo_psw"].value) {
                alert("Las contraseñas no coinciden");
                return 0;
            }
            else {
                alert("Cambio de contraseña exitoso");
            }


        }
        </script>
</head>
<body>

    {% with messages = get_flashed_messages(category_filter=['cambioclave']) %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
    </div>
    {% endif %}
    {% endwith %}   

    <div class="contenedor">
        <div class="contenedor-omc">
            <div class="centrar-img">
                <img src="../static/img/logo.png" alt="logo" width="60%">
            </div>
            <form action="/actualizar_contraseña" method="post" onsubmit="validarCambio()" name="cambioclave">
                <div class="form-outline mb-4">
                    <label class="form-label font-weight-bold text-dark" for="nuevo-psw">Nueva contraseña</label>
                    <input type="password" name="nuevo_psw" class="form-control form-control" placeholder="Nueva contraseña" required/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label font-weight-bold text-dark" for="conf-nuevo-psw">Confirmar nueva contraseña</label>
                    <input type="password" name="conf_nuevo_psw" class="form-control form-control" placeholder="Confirmar nueva contraseña" required/>
                </div>
                <input class="btn btn-success" type="submit" value="Enviar">
            </form>
        </div>
    </div>
</body>
</html>